@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "AncientModernTales";
    src: local("AncientModernTales"),
     url("./assets/fonts/AncientModernTales-a7Po.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "EightBitDragon-anqx";
    src: local("EightBitDragon-anqx"),
     url("./assets/fonts/EightBitDragon-anqx.ttf") format("truetype");
    font-weight: bold;
}

.font-8bit{
    font-family: "EightBitDragon-anqx" !important;
}

*{
    margin: 0;
    padding: 0;
    font-family: "AncientModernTales" !important;
}